.users {
    margin: 2rem;
}
.users .list{
    list-style: none;   
    padding: 0; 
}
.users .row {
    display: flex;
    padding: 0 10px;
    text-align: left;
    border-collapse: collapse;
    flex-direction: row;
}
.users .col{
    padding: 10px;
    display: inline-block;
    width: 200px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #888888;
    border-right: 1px solid #888888;
    word-break: break-word;
}
.users .col:first-child{
    border-left: 1px solid #888888;
    width: 50px;
}
.users .row:first-child .col {
    border-top: 1px solid #888888;
    background-color: #7abfff;
}
.users .col:nth-child(5), .users .col:nth-child(6){
    width: 80px;
}