.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #114788;
  padding: 0 2rem;
}

.main-header h1 {
  color: white;
}